In [1]:
import pandas as pd

In [126]:
# reading data

df1 = pd.read_csv("users.csv")
df2 = pd.read_csv("studycs.csv")
df3 = pd.read_csv("shit.csv")

frames = [df1, df2, df3]

result = pd.concat(frames)
result = result.drop_duplicates()
result.to_csv("intermediate.csv", index=False)

len(result)

/var/folders/b6/486jxbhd03z06w9634qqg4km0000gn/T/ipykernel_2403/2662956373.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("users.csv")

261998

In [132]:
frames = [df1, df2, df3]

result = pd.concat(frames)
result = result.drop_duplicates()
result.to_csv("intermediate.csv", index=False)

len(result)

261998

# cleaning up the intermediate data

In [2]:
workDF = pd.read_csv("intermediate.csv")
print(len(workDF))

261996

/var/folders/b6/486jxbhd03z06w9634qqg4km0000gn/T/ipykernel_3300/121811375.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  workDF = pd.read_csv("intermediate.csv")

In [3]:
workDF[workDF['language'] == "абай көшесі29"]

Empty DataFrame
Columns: [name, email, region, place, role, language, gender, age, school,  date,  time]
Index: []

In [4]:
workDF[workDF[' date'] == " nan"]

Empty DataFrame
Columns: [name, email, region, place, role, language, gender, age, school,  date,  time]
Index: []

In [159]:
filledDF = workDF.copy()
filledDF[' date'] = workDF[' date'].fillna(" 12/4/2023")
filledDF[' time'] = workDF[' time'].fillna(0)
filledDF

,name,email,region,place,role,language,gender,age,school,date,time
0,daniyar.kakimbekov,asdasd@asdsd.com,Алматинская,,teacher,russian,female,31,asdasd,12/4/2023,0
1,daniyar.kakimbekov,asdasd@asdsd.com,Алматинская,,teacher,russian,male,31,asdasd,12/4/2023,0
2,daniyar.kakimbekov,asdasd@asdsd.com,Алматы,,teacher,russian,male,31,asd,12/4/2023,0
3,daniyar.kakimbekov,asdasd@asdsd.com,Астана,,teacher,russian,male,31,asdaspdoj,12/4/2023,0
4,daniyar.kakimbekov,asdasd@asdsd.com,Алматы,,teacher,russian,male,31,asdaspdoj,12/4/2023,0
...,...,...,...,...,...,...,...,...,...,...,...
261991,Лера,rkristiaunu@gmail.com,Алматы,Алматы,student,russian,female,14,КГУ ШГ № 6,12/4/2023,0
261992,Лера,ktotounu884@gmail.com,Алматы,Алматы,student,russian,female,14,КГУ ШГ № 6,12/4/2023,0
261993,лера,ktotounu884@gmail.com,Алматы,Алматы,student,russian,female,14,КГУ ШГ № 6,12/4/2023,0
261994,айару,takirovaajaru@gmail.com,Павлодарская,тлектес,student,kazakh,female,12,6,12/4/2023,0
261995,Нұргелді,nurik@gmail.com,Туркестанская,Арыс,student,kazakh,male,11,М.Ауезов,12/4/2023,0

In [160]:
final = filledDF.copy()
print(final["language"].unique())
print(final["gender"].unique())
print(final[" date"].unique())
print(final["region"].unique())

['russian' 'kazakh' 'english']
['female' 'male']
[' 12/4/2023' ' 12/5/2023' ' 12/6/2023' ' 12/7/2023' ' 12/8/2023'
 ' 12/9/2023' ' 12/10/2023' ' 12/11/2023' ' 12/12/2023' ' 12/13/2023'
 ' 12/14/2023' ' 12/15/2023' ' 12/16/2023' ' 12/17/2023' ' 12/18/2023'
 ' 12/19/2023']
['Алматинская' 'Алматы' 'Астана' 'Восточно-Казахстанская' 'Шымкент'
 'Абайская' 'Северо-Казахстанская' 'Павлодарская' 'Костанайская'
 'Атырауская' 'Карагандинская' 'Западно-Казахстанская' 'Туркестанская'
 'Акмолинская' 'Кызылординская' 'Жетысуская' 'Жамбылская' 'Актюбинская'
 'Улытауская' 'Мангистауская' 'Южно-Казахстанская']

In [153]:
final

,name,email,region,place,role,language,gender,age,school,date,time
0,daniyar.kakimbekov,asdasd@asdsd.com,Алматинская,,teacher,russian,female,31,asdasd,12/4/2023,0
1,daniyar.kakimbekov,asdasd@asdsd.com,Алматинская,,teacher,russian,male,31,asdasd,12/4/2023,0
2,daniyar.kakimbekov,asdasd@asdsd.com,Алматы,,teacher,russian,male,31,asd,12/4/2023,0
3,daniyar.kakimbekov,asdasd@asdsd.com,Астана,,teacher,russian,male,31,asdaspdoj,12/4/2023,0
4,daniyar.kakimbekov,asdasd@asdsd.com,Алматы,,teacher,russian,male,31,asdaspdoj,12/4/2023,0
...,...,...,...,...,...,...,...,...,...,...,...
261991,Лера,rkristiaunu@gmail.com,Алматы,Алматы,student,russian,female,14,КГУ ШГ № 6,12/4/2023,0
261992,Лера,ktotounu884@gmail.com,Алматы,Алматы,student,russian,female,14,КГУ ШГ № 6,12/4/2023,0
261993,лера,ktotounu884@gmail.com,Алматы,Алматы,student,russian,female,14,КГУ ШГ № 6,12/4/2023,0
261994,айару,takirovaajaru@gmail.com,Павлодарская,тлектес,student,kazakh,female,12,6,12/4/2023,0
261995,Нұргелді,nurik@gmail.com,Туркестанская,Арыс,student,kazakh,male,11,М.Ауезов,12/4/2023,0

In [161]:
final.to_csv("final_full.csv", index=False)

In [162]:
dashboardDF = final.drop(["email", "name", "place","school", " time"], axis=1).copy()
dashboardDF.to_csv("dashboard.csv", index=False)

In [163]:
dashboardDF_stripped = dashboardDF.drop(["role", "language", "age"], axis = 1)
dashboardDF_stripped.to_csv("dashboardLean.csv", index=False)

# Doing the final statistics thing

In [ ]:
workDF = pd.read_csv("clean_final.csv")

In [187]:
df_filtered = final.drop(final[final['role'] == 'teacher'].index)
df_filtered = df_filtered.drop(final[final['role'] == ' teacher'].index)

# Print the filtered DataFrame
df_filtered

,name,email,region,place,role,language,gender,age,school,date,time
11,амина аяла,moldir_251190@mail.ru,Абайская,,student,kazakh,female,9,15 мектеп,12/4/2023,0
12,Амира,gulnara-74_10@mail.ru,Абайская,,student,kazakh,female,8,15,12/4/2023,0
13,Ерлан,galakan446@gmail.com,Шымкент,,student,kazakh,male,20,Robo Park,12/4/2023,0
14,медина аяжан,moldir_251190@mail.ru,Абайская,,student,kazakh,female,8,№15,12/4/2023,0
15,еркежан,moldir_251190@mail.ru,Абайская,,student,kazakh,female,8,№15,12/4/2023,0
...,...,...,...,...,...,...,...,...,...,...,...
261991,Лера,rkristiaunu@gmail.com,Алматы,Алматы,student,russian,female,14,КГУ ШГ № 6,12/4/2023,0
261992,Лера,ktotounu884@gmail.com,Алматы,Алматы,student,russian,female,14,КГУ ШГ № 6,12/4/2023,0
261993,лера,ktotounu884@gmail.com,Алматы,Алматы,student,russian,female,14,КГУ ШГ № 6,12/4/2023,0
261994,айару,takirovaajaru@gmail.com,Павлодарская,тлектес,student,kazakh,female,12,6,12/4/2023,0
261995,Нұргелді,nurik@gmail.com,Туркестанская,Арыс,student,kazakh,male,11,М.Ауезов,12/4/2023,0

In [190]:
df_filtered["role"].unique()

array(['student', ' student'], dtype=object)

In [191]:
gender = df_filtered['gender'].value_counts()
region = df_filtered['region'].value_counts()
lang = df_filtered['language'].value_counts()
days = df_filtered[' date'].value_counts()

print(f"{gender}\n\n\n\n{region}\n\n\n\n{lang}\n\n\n\n{days}")

gender
female    129302
male      122204
Name: count, dtype: int64



region
Карагандинская            45890
Актюбинская               24370
Туркестанская             24179
Алматы                    20371
Шымкент                   19255
Восточно-Казахстанская    17362
Астана                    10314
Абайская                  10081
Кызылординская             9513
Жетысуская                 8942
Жамбылская                 8765
Мангистауская              7919
Костанайская               7519
Павлодарская               7143
Северо-Казахстанская       7133
Алматинская                6845
Атырауская                 6527
Акмолинская                4319
Западно-Казахстанская      4247
Улытауская                  588
Южно-Казахстанская          224
Name: count, dtype: int64



language
kazakh     152347
russian     98656
english       503
Name: count, dtype: int64



 date
 12/6/2023     53269
 12/7/2023     51986
 12/5/2023     45086
 12/4/2023     43588
 12/8/2023     34904
 12/11/2023     7057
 12/12/2023     4637
 12/15/2023     2617
 12/14/2023     1978
 12/9/2023      1752
 12/13/2023     1693
 12/10/2023      938
 12/19/2023      835
 12/17/2023      535
 12/16/2023      396
 12/18/2023      235
Name: count, dtype: int64