In [1]:
import pandas as pd

In [2]:
# reading data

df = pd.read_csv("Dec4.csv")
df

ParserError: Error tokenizing data. C error: Expected 9 fields in line 48371, saw 11

In [4]:
# dropping rows in which all columns have the same values

df1 = df.drop_duplicates()

df1.to_csv("cleaned_data.csv", index=False)
df1

,name,email,region,place,role,language,gender,age,school
0,daniyar.kakimbekov,asdasd@asdsd.com,Алматинская,,teacher,russian,female,31,asdasd
2,daniyar.kakimbekov,asdasd@asdsd.com,Алматинская,,teacher,russian,male,31,asdasd
5,daniyar.kakimbekov,asdasd@asdsd.com,Алматы,,teacher,russian,male,31,asd
11,daniyar.kakimbekov,asdasd@asdsd.com,Астана,,teacher,russian,male,31,asdaspdoj
17,daniyar.kakimbekov,asdasd@asdsd.com,Алматы,,teacher,russian,male,31,asdaspdoj
...,...,...,...,...,...,...,...,...,...
1569,КАРИНА,ADIATOVA375@email.COM,Атырауская,құрманғазы,student,kazakh,female,16,кадыр мырза әли
1571,Гульнур,gulnur-sagyndykova@mail.ru,Алматинская,Қонаев қаласы,teacher,kazakh,female,41,Орта мектеп-гимназия
1572,айана кали,aisana220807@icloud.com,Атырауская,құрманғазы ауданы сафон селосы,student,russian,female,16,Қадыр мырза әли атындағы жалпы орта мектебі
1573,Дана,danaserik028@gmail.com,Атырауская,Құрманғазы,student,kazakh,female,17,Қадір Мырза Әли
1612,Әлижан,alizhanmikoyan@gmail.com,Атырауская,құрманғазы,student,kazakh,male,16,қадыр мырза әли

In [5]:
# dropping rows with the same values in the name column

df2 = df.drop_duplicates("name")
df2

,name,email,region,place,role,language,gender,age,school
0,daniyar.kakimbekov,asdasd@asdsd.com,Алматинская,,teacher,russian,female,31,asdasd
30,elnazik_94@mail.ru,elnazik_94@mail.ru,Алматы,,teacher,kazakh,female,29,104
32,Yelnaz,elnazik_94@mail.ru,Алматы,,teacher,kazakh,female,29,104
33,Айжан,torekhan_ae@mail.ru,Восточно-Казахстанская,,teacher,kazakh,female,26,4
35,Асия,asiya1395@mail.ru,Алматы,,teacher,russian,female,28,Гимнзия №132
...,...,...,...,...,...,...,...,...,...
1569,КАРИНА,ADIATOVA375@email.COM,Атырауская,құрманғазы,student,kazakh,female,16,кадыр мырза әли
1571,Гульнур,gulnur-sagyndykova@mail.ru,Алматинская,Қонаев қаласы,teacher,kazakh,female,41,Орта мектеп-гимназия
1572,айана кали,aisana220807@icloud.com,Атырауская,құрманғазы ауданы сафон селосы,student,russian,female,16,Қадыр мырза әли атындағы жалпы орта мектебі
1573,Дана,danaserik028@gmail.com,Атырауская,Құрманғазы,student,kazakh,female,17,Қадір Мырза Әли
1612,Әлижан,alizhanmikoyan@gmail.com,Атырауская,құрманғазы,student,kazakh,male,16,қадыр мырза әли